/////////
// Web //
/////////
body {
	background: #111;
	.square(100%);
	.font-size(@baseFontSize, @baseLineHeight);
	#font > #family > .merriweather();
	color: @textColor;
	font-weight: 400;
}

.d-loading {
	background: #111;
	.square(100%);
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 10;
	vertical-align: middle;
	.user-select(none);
	transition: all .5s ease-in-out;

	&.d-fade {
		opacity: 0;
	}
}

.d-loading-title {
	.size(210px, 120px);
	margin: 0;
	.font-size(28, 2em);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -105px;
	font-weight: 300;

	> strong {
		#font > #family > .ubuntu();
		.font-size(24, 2em);
		color: @gold;
		font-weight: 300;
	}
}

.d-loading-spinner {
	.size(30px, 8px);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 50px;
	margin-left: -15px;
}

.d-loading-dot {
	background-color: @gold;
	.square(8px);
	position: absolute;
	top: 0;
	margin-right: 3px;
	border-radius: 1px;
	transform-origin: center center;
	opacity: 0;
	.scale(.4);

	&.d-loading-dot--dot1 {
		left: 0;
		animation: loading .6s linear infinite;
	}

	&.d-loading-dot--dot2 {
		left: 11px;
		animation: loading .6s linear infinite .1s;
	}

	&.d-loading-dot--dot3 {
		left: 22px;
		animation: loading .6s linear infinite .2s;
	}
}

@keyframes loading {
	0% {
		opacity: 0;
		.scale(.4);
	}
	50% {
		opacity: 1;
		.scale(1);
	}
	100% {
		opacity: 0;
		.scale(.4);
	}
}

.d-wall {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -350px;
	padding-left: 50px;
	padding-right: 50px;
	overflow: hidden;
	.user-select(none);
	.border-box;
}

.d-row-wrap {
	margin-top: 10px;

	&:first-child {
		margin-top: 0;
	}
}

.d-row {
	white-space: nowrap;
	font-size: 0;
	will-change: transform;

	> li {
		display: inline-block;
		vertical-align: top;
		.perspective(1200px);
		.transition(all .6s ease-in-out);

		&.d-show {
			.d-card {
				margin-left: 0;
				.rotateX(0);
				.rotateY(0);
				.opacity(100);

				&:before,
				&:after {
					.opacity(0);
				}
			}
		}
	}
}

.d-card {
	background: #333;
	.square(350px);
	margin-right: 10px;
	white-space: normal;
	overflow: hidden;
	.opacity(0);
	.transition(all .6s ease-in-out);

	&:before {
		content: '';
		background: @blue;
		.square(100%);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		.transition(all .6s ease-in-out);
	}

	&:after {
		content: '';
		.basic-gradient(rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0), top);
		.size(100%, 50px);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		.transition(all .6s ease-in-out);
	}

	&.d-card--twitter {
		padding: 10px 12px;
		.border-box;
	}
}

.d-card-photo {
	width: 350px;
	pointer-events: none;
}

.d-card-user {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 12px; 
	#font > #family > .ubuntu();
	font-weight: 300;
	z-index: 1;
	.border-box;
}

.d-card-userPhoto {
	.square(45px);
	float: left;
	margin-right: 10px;
	border-radius: 24px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.d-card-userName {
	color: @white;
	.font-size(16, 1.6em);
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.d-card-likeCount {
	.font-size(14, 1.2em);

	&:before {
		content: '';
		.sprite-like;
		display: block;
		float: left;
		margin-right: 4px;
	}
}

.d-card-title {
	padding: 5px 0 30px 0;
	#font > #family > .ubuntu();
	.font-size(16);
	font-weight: 300;
	color: @gold;
	text-transform: uppercase;
}

.d-card-message {
	.font-size(22, 1.5em);
	font-weight: 300;
}

.d-hash {
	color: @white;
}


// Info in middle row
// 
.d-info {
	display: none;
}



// Animations
// 
.d-row--top {
	.anim-flip {
		.transform-origin(center bottom);
		.rotateX(-90deg);
	}
}	

.d-row--bottom {
	.anim-flip {
		.transform-origin(center top);
		.rotateX(90deg);
	}
} 


.anim-flip-left {
	margin-left: -360px;
	.rotateY(-90deg);
	.transform-origin(right center);
	.transition(all .6s ease-in-out);
}
